@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}  
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
blockquote, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, ul, li, ol, p, pre, span, td, th {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul, li, ol {
    list-style: none;
}
img {
  line-height: 0;
  font-size: 0;
  border: 0;
}
a {
    color: black;
    text-decoration: none;
}


.fadeIn {
    display: none;
}
.inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.clear {
    clear: both;
}


/* header */
header {
    position: relative;
    height: 100vh;
    max-height: 120rem;
    min-height: 60rem;
    padding: 20rem 0 5rem 0;
    color: white;
    background-image: url(../img/header_back.jpg);
    background-color: #FEC400;
    background-position: center bottom;
    background-size: cover;
}
.header_logo {
    height: 16rem;
    user-select: none;
}
header h2 {
    font-size: 2rem;
}
.btn_appstore {
    display: inline-block;
    width: 16rem;
    user-select: none;
    margin-top: 3rem;
}
header p {
    position: absolute;
    bottom: 3rem;
    font-size: 1.6rem;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 3rem;
}


/* service */
.service_container {
    float: left;
    width: calc(100% / 3);
    height: 75vh;
    min-height: 30rem;
    max-height: 60rem;
    color: white;
    background-position: center bottom;
    background-size: cover;
    padding: 3rem;
    letter-spacing: 0.05rem;
}
#service h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
#service p {
    font-size: 1.6rem;
}
#sv-list01 {
    background-image: url(../img/service_back1.jpg);
    background-color: #F3F3F3;
}
#sv-list02 {
    background-image: url(../img/service_back2.jpg);
    background-color: #D1C5C9;
}
#sv-list03 {
    background-image: url(../img/service_back3.jpg);
    background-color: #DE7967;
}


/* service2 */
#service2 {
    text-align: center;
    background-color: white;
    padding: 4rem 0;
}
#service2 h2 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
}
#service2 span {
    display: inline-block;
}
.service2_container {
    float: left;
    width: 50%;
    padding: 0 3rem;
}
.service2_container img {
    height: 8rem;
}
.service2_container h3 {
    font-size: 2.8rem;
    opacity: 0.8;
    margin: 1rem 0;
}
.service2_container p {
    font-size: 1.6rem;
    opacity: 0.8;
}

/* question */
#question {
    display: flex;
    background-color: #d5dbeb;
}
#question_left {
    float: left;
    width: 50%;
    background: url(../img/question_left.jpg) bottom no-repeat;
    background-size: cover;
}
#question_right {
    float: left;
    width: 50%;
}
#question_container {
    opacity: 0.8;
    padding: 8rem;
}
#question_container h2 {
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 3rem;
}
#question_container h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;

}
#question_container p {
    display: block;
    width: 75%;
    font-size: 1.6rem;
    margin: 0 auto 2rem auto;
}


/* plan */
#plan {
    display: flex;
    background-color: rgb(245, 245, 245);
}
#plan_left, #plan_right {
    float: left;
    text-align: center;
    width: 50%;
    padding: 4rem 1rem;
}
#plan_left h3 {
    font-size: 2rem;
}
#plan_left img {
    height: 15rem;
    margin: 1rem 0;
}
#plan_right h3 {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}
#plan_sb {
    display: inline-block;
    padding: 1rem 0;
}
#plan_short, #plan_long {
    display: inline-block;
    height: 16rem;
    margin: 0.5rem;
}
#plan_right p {
    display: block;
    width: 24rem;
    text-align: left;
    font-size: 1rem;
    margin: 0 auto;
}


/* download */
#download {
    display: flex;
    background-color: #fcbc36;
}
#download_left {
    float: left;
    width: 60%;
    background: url(../img/download_back.png) center no-repeat;
    background-size: cover;
}
#download_right {
    float: left;
    width: 40%;
    color: white;
    text-align: center;
    padding: 6rem 0;
}
#download_right p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}


/* footer */
footer {
    text-align: center;
    background-color: #414449;
    padding: 4rem 2rem 2rem 2rem;
}
#footer_above a {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    margin: 0 2rem;
}
#footer_instagram {
    display: block;
    text-align: right;
}
.fa-instagram {
    font-size: 4rem;
    color: white;
}
footer p {
    font-size: 1.4rem;
    color: #909295;
}